html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(227, 151, 116, 1) 0%, rgba(92, 158, 173, 1) 100%);
}

body {
    background: linear-gradient(90deg, rgba(227, 151, 116, 1) 0%, rgba(92, 158, 173, 1) 100%);
    background-size: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* Header - Nav barre + animations */

header {
    width: 100vw;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    right: 0;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    position: relative;
    width: 215px;
    z-index: 1;
}

nav li::after {
    content: "";
    background-color: var(--whiteColor);
    width: 0px;
    height: 3px;
    z-index: -1;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 300ms ease-in-out, height 600ms ease-in-out 300ms;
}

nav li:hover::after {
    width: 100%;
    height: 25px;
}

/* Liens */

a {
    text-decoration: none;
    color: var(--blackColor);
}

header nav h1 a:hover {
    opacity: 0.6;
}

/* Footer */

footer {
    width: 100%;
    height: 50px;
    opacity: 0.3;
    backdrop-filter: blur(2px);
    background-color: var(--whiteColor);
}

footer p {
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
}

strong{
    display: block;
}