html, body{
    font-size: 100%;
  }

  @media (max-width: 923px){
    #grid-personnalites, .grid-home{
      display: flex;
      flex-direction: column;
      margin-top: 200px;
      margin: auto;
    }

    #grid-personnalites{
      height: 100%;
    }

    #cube{
      width: 50px;
      height: 50px;
      margin: auto;
      padding: 0;
    }

    #container-cube{
      margin-top: 100px;
    }

    #cube li{
      height: 100px;
      width: 100px;
    }

    #cube li{
      list-style: none;
      position: absolute;
      width: 100px;
      height: 100px;
  }
  
  .top{
      transform: rotateX(90deg) translateZ(50px);
  }
  
  .bottom{
      transform: rotateX(-90deg) translateZ(50px);
  }
  
  .left{
      transform: rotateY(-90deg) translateZ(50px);
  }
  
  .right{
      transform: rotateY(90deg) translateZ(50px);
  }
  
  .front{
      transform: rotateX(0deg) translateZ(50px);
  }
  
  .back{
      transform: rotateX(-180deg) translateZ(50px);
  }

    .grid-home{
      height: 100vh;
    }

    .content-grid-home, #container-cube{
      padding: 0;
      text-align: center;
    }

    .description{
      margin: auto;
    }

    .btn{
      position: absolute;
      bottom: 3px;
      margin: auto;
      width: 100%;
    }
  }

  @media (max-width: 730px){
    .icon-menu{
      display: block;
      position: absolute;
      right: 20px;
    }

    .item-menu{
      visibility: hidden;
    }
  }